if SHIELD_O67R_DONGLE || SHIELD_O67R_USB_DONGLE || SHIELD_O67R_LEFT_CENTRAL

config ZMK_KEYBOARD_NAME
    default "o67r"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_O67R_DONGLE

if SHIELD_O67R_DONGLE || SHIELD_O67R_USB_DONGLE || SHIELD_O67R_PROSPECTOR || SHIELD_O67R_LEFT_CENTRAL || SHIELD_O67R_LEFT || SHIELD_O67R_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_O67R_DONGLE || SHIELD_O67R_USB_DONGLE || SHIELD_O67R_PROSPECTOR || SHIELD_O67R_LEFT_CENTRAL || SHIELD_O67R_LEFT || SHIELD_O67R_RIGHT


